.form-card {
  max-width: 450px;
  height: 450px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #f4883a;
}

img {
  max-width: 100%;
  max-height: 100px;
}

.app {
  margin-top: 50%;
  max-width: 70%;
}

.app:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.input {
  width: 100%;
}

button {
  top: 70px;
  width: 50%;
  background-color: #52a451;
  color: white;
}

:host ::ng-deep .mat-form-field-wrapper {
  margin: 3px !important;
  padding: 2px;
}

.title {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin-left: 10%;
}

.content {
  max-width: 700px;
  color: white;
  text-align: left;
  font-size: 1.4em;
  margin-right: 5%;
  line-height: 1.5;
}

.container {
  margin: 10% 5% 10% 5%;
}

.message p {
  font-size: 0.9em;
  color: red;
}

@media screen and (max-width: 1279px) {
  .title {
    margin-left: 5%;
  }
  .app {
    margin-top: 50%;
    margin-bottom: 50%;
    margin-left: 1%;
  }
}
