<div
  class="container"
  fxLayout="row"
  fxLayout.lt-lg="column"
  fxLayoutWrap
  fxLayoutAlign="space-around top"
>
  <div
    fxLayout="column"
    class="content"
    fxLayoutAlign="space-around top"
    fxLayoutAlign.lt-lg="space-around top"
  >
    <div fxLayout="row">
      <a href="https://easymarine.com.br/#/">
        <img
          src="https://easymarine.com.br/assets/img/logo-easymarine-plataforma-software-app-gestao-marina.png"
          alt="Logo EasyMarine"
        />
      </a>
      <p class="title" fxLayoutAlign="center start">
        Plataforma de gestão náutica
      </p>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
      Sistema desenvolvido para auxiliar na gestão e transparência das
      atividades operacionais de Marinas e garagens náuticas, que conta com
      aplicativo para gestores e clientes, tornando a comunicação muito mais
      dinâmica entre clientes, Marinas e seus colaboradores.
    </div>
    <div fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="30px">
      <a
        href="https://play.google.com/store/apps/details?id=br.com.easymarine.gestor"
      >
        <img
          class="app"
          src="https://easymarine.com.br/assets/img/download-easymarine-software-gestao-marina-android-google-play.png"
          alt="Google Play EasyMarine"
        />
      </a>
      <a
        href="https://apps.apple.com/us/app/easymarine-gestor/id1490897862?l=pt&ls=1"
      >
        <img
          class="app"
          src="https://easymarine.com.br/assets/img/download-easymarine-software-gestao-marina-ios-app-store.png"
          alt="App Store EasyMarine"
        />
      </a>
    </div>
  </div>
  <div fxLayoutAlign.lt-lg="center center">
    <mat-card class="form-card">
      <form [formGroup]="formularioDeUsuario" (ngSubmit)="enviarDados()">
        <mat-form-field class="input" appearance="outline">
          <input
            matInput
            type="text"
            formControlName="nome"
            placeholder="Nome"
          />
        </mat-form-field>
        <div class="message" *ngIf="!nome.pristine && nome.errors">
          <p *ngIf="nome.errors.required">Nome é obrigatório.</p>
          <p *ngIf="nome.errors.minlength">
            Nome deve ter no mínimo 6 caracters.
          </p>
        </div>
        <mat-form-field class="input" appearance="outline">
          <input
            matInput
            type="text"
            formControlName="email"
            placeholder="Email"
          />
        </mat-form-field>
        <div class="message" *ngIf="!email.pristine && email.errors">
          <p *ngIf="email.errors.email">Digite um e-mail válido.</p>
        </div>

        <mat-form-field class="input" appearance="outline">
          <input
            matInput
            type="password"
            formControlName="senha"
            placeholder="Senha"
          />
        </mat-form-field>
        <div class="message" *ngIf="!senha.pristine && senha.errors">
          <p *ngIf="senha.errors.required">Senha é obrigatória.</p>
          <p *ngIf="senha.errors.minlength">
            Senha deve ter no mínimo 6 caracters.
          </p>
        </div>

        <mat-form-field class="input" appearance="outline">
          <input
            matInput
            type="password"
            formControlName="confirmarSenha"
            placeholder="Confirmar Senha"
          />
        </mat-form-field>
        <div
          class="message"
          *ngIf="!confirmarSenha.pristine && confirmarSenha.errors"
        >
          <p *ngIf="confirmarSenha.errors.required">Confirme sua senha.</p>
          <p *ngIf="confirmarSenha.errors.senhasNaoCoincidem">
            As senhas não coincidem.
          </p>
        </div>

        <div fxLayout="row" fxLayoutAlign="center end">
          <button mat-raised-button [disabled]="!formularioDeUsuario.valid">
            Cadastrar
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
